<div class="row">
  <div class="twelve columns">
    <ul >
      <li class="field">
        <input class="large search input" type="searcg" placeholder="What device you want to use?" ng-model="query">
        <li>
        </ul>
        <ul>
          <li ng-repeat="checkin in checkins | filter:query">
          <div class="large ">

             <h1> {{checkin.name}} </h1>
             <h2>  {{checkin.platform}} {{checkin.version}}</h2>
             <h3>  {{checkin.whohasit}} ({{checkin.whohasitemail}})</h3>
             <small> {{checkin.uuid}} </small>
              <h5>{{checkin.lastcheckin.location}} </h5>

          </div>
        </li>
      </ul>
    </div>
  </div>
