<div class="row">
  <div class="twelve columns">
    <ul >
      <li class="field">
        <input class="large search input" type="searcg" placeholder="What device you want to use?" ng-model="query">
        <li>
        </ul>
        <ul>
          <li ng-repeat="checkin in checkins | filter:query">
          <div class="large " ng-click="select(user)">
            <p>
              {{checkin.name}}
              {{checkin.platform}}
              {{checkin.version}}
              {{checkin.uuid}}
              {{checkin.lastcheckin.to}}
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
