 <div class="medium danger btn">
   <a href="" ng-click="submitCheckin()">CHECKIN DEVICE NOW!</a>
</div>
<div class="row">
   <div class="twelve colgrid">
       <div class="row">
           <div class="six columns">
               <div class="medium secondary btn">
                   <a href="" ng-click="takepic()">Take a Picture!</a>
               </div>
               <img ng-src="{{photo}}"/>

           </div>
           <div class="six columns">
               <div class="medium primary btn">
                   <a href="" ng-click="refreshLocation()">Refresh Location</a>
               </div>
               <h4>Latitude {{ position.coords.latitude}}</h4>
               <h4>Longitude {{position.coords.longitude}}</h4>
               <h4>Altitude {{ position.coords.altitude}}</h4>

           </div>

       </div>
   </div>
</div>
