
<div>
    <div class="container">
      <div class="row">
        <div class="twelve columns">
           <h3>{{device.name}}</h3>
           <h5>{{device.platform }}  {{device.version  }}</h5>
           <small>UUID{{device.uuid}}</small>
       </div>
   </div>
   <div> <h2> Last Checkin </h2></div>
   <div class="medium danger btn">
     <a href="" ng-click="">Checkin now!</a>
 </div>
 <div class="medium primary btn">
    <a href="" ng-click="">Handoff</a>
 </div>
 <div class="medium secondary btn">
     <a href="" ng-click="">Checkout!</a>
 </div>
</div>









