<div ng-animate="'slide'">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
            <h5> Martin Rabaglia!, you are using a </h5>
            <h3>{{deviceinfo.name}} <small>{{deviceinfo.platform }}  {{deviceinfo.version  }}</small></h3>
            <small>UUID{{deviceinfo.uuid}}</small>
            <h6> in <b> 1572 @ Buenos Aires </b> {{lastuse}} </h6>

        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
         <h5 class="danger alert">Aren't you Martin? </h5>
         <p><div class="medium danger btn">
           <a href="" ng-click="submitCheckin()">Checkin now!</a>
       </div></p>
       <img ng-src="{{map}}"/>
       <h6>Latitude {{position.coords.latitude}}</h6>
       <h6>Longitude {{position.coords.longitude}}</h6>
       <h6>Altitude {{position.coords.altitude}}</h6>
       <div class="medium primary btn">
           <a href="" ng-click="refreshLocation()">Refresh Location</a>
       </div>
    <!--      <h5 class="primary alert">Do you want deliver this device? </h5>
         <p><div class="medium primary btn">
            <a href="#/location" ng-click="">Handoff Now</a>
        </div></p>

        <h5 class="secondary alert">If you are not using it...</h5>
        <p> <div class="medium secondary btn">
           <a href="#/location" ng-click="">Why not Checkout?</a> -->
       </div></p>
   </div>
</div>

</div>









