<div class="hero-unit">
 
</div>
<div ng-controller="feedController">
      <h1>Device Checkin  <small>({{checkins.length}})</small></h1>
      Search: <input ng-model="query">
      <select ng-model="orderProp">
        <option value="title">Alphabetical</option>
        <option value="date">Newest</option>
      </select>
      <ul>
        <li ng-repeat="checkin in checkins | filter:query | orderBy:orderProp">
          <h2>{{checkin.title}}</h2>
          <h3> {{checkin.description}}</h3>
          <span class="label label-info">{{checkin.tags}}</span>
          <span class="label label-success">Submitted at {{checkin.date}}</span>
          <p><a href="#/checkins/{{checkin.id}}" class="thumb"><img ng-src="{{checkin.image}}"></a></p>          
        </li>
      </ul>
    </div>