        <div ng-controller="makerController">
          <div class="span6">  
            <h1>Idea Submitter</h1>
            <p>Travel time inside it.</p>
            <form>
              <fieldset>
                <label></label>
                <input class="input-xlarge" type="text" placeholder="Idea in one with one sentence" ng-model="idea.title">
                <label></label>
                <textarea  placeholder="Tell us more about this" ng-model="idea.description"></textarea>
                <label></label>
                <input type="text" placeholder="Tag it!" ng-model="idea.tags">
                <label></label>
                <input type="text" placeholder="Paste an image url" ng-model="idea.image">
                <label></label>
                <input type="button" class="btn btn-primary" value="Submit It!" ng-click="save()">
              </fieldset>
            </form>
          </div>
          <div class="span6 alert-info">
            <h1>{{idea.title}}</h1>
            <h3> {{idea.description}}</h3>
            <span class="label label-info">{{idea.tags}}</span>
            <img src="{{idea.image}}"/>
          </div>
                    </div>